* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  color: var(--tekst-farge);
}
:root {
  --hoved-farge: #ff2a2a;
  --tekst-farge: #fff;
  --bakgrunn-farge: black;
  --stor-font: 5rem;
  --h2-font: 2.25rem;
  --p-font: 0.9rem;
}
body {
  background-color: var(--bakgrunn-farge);
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 170px;
  margin-bottom: 50px;
}
#newIcon img {
  position: absolute;
  right: 520px;
  top: 34px;
  width: 30px;
}

.logo {
  color: var(--hoved-farge);
  font-weight: 600;
  font-size: 2.4rem;
  margin-left: 30px;
}

.navbar {
  display: flex;
  margin-right: 150px;
}

.navbar a {
  color: var(--tekst-farge);
  font-size: 1.1rem;
  padding: 10px 40px;
  font-weight: 500;
}

.navbar #arrangementColor:hover {
  color: rgb(218, 165, 32);
}
.navbar a:hover {
  color: var(--hoved-farge);
  transition: 0.4s;
}

#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.restaurantBildet img {
  width: 100%;
  height: auto;
}

.restaurant {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px 200px;
  margin-bottom: 100px;
}
.skriftlig {
  padding-top: 50px;
}
.skriftlig h1 {
  font-size: 50px;
  line-height: 55px;
}
#redcolor {
  color: var(--hoved-farge);
}
#bestill {
  margin-bottom: 20px;
  margin-left: 20px;
  color: rgb(201, 200, 200);
  text-transform: uppercase;
}

#bekreft {
  margin-top: 30px;
}
.flexbox {
  margin-top: 50px;
  display: flex;
  gap: 50px;
  padding-left: 50px;
  align-items: center;
}
#btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--hoved-farge);
  color: #fff;
  border-radius: 0.5rem;
}

#btn:hover {
  transform: scale(1.2) translateY(10px);
  transition: 0.4s;
}
.see {
  color: yellow;
  text-transform: capitalize;
  text-decoration: underline;
}
.see:hover {
  transform: scale(1.2) translateY(-10px);
  transition: 0.4s;
}
.spørsmål {
  margin-left: 400px;
  display: inline-block;
  text-transform: capitalize;
  margin-bottom: 100px;
}
.spørsmål p {
  font-size: 50px;
  color: white;
}

.partyBildet img {
  width: 100%;
  position: absolute;
  height: auto;
}
.partyText {
  position: relative;
  width: 50%;
  left: 50px;
  top: 75px;
}
.partyText #yellow {
  color: rgb(218, 165, 32);
  padding-bottom: 15px;
}
.partyText h1 {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 55px;
  padding-bottom: 30px;
}
.partyText #info {
  padding-bottom: 25px;
}
.partyText #goldenbtn {
  display: inline-block;
  padding: 10px 20px;
  background: rgb(218, 165, 32);
  color: #fff;
}
#goldenbtn:hover {
  transform: scale(1.2) translateY(10px);
  transition: 0.4s;
}
