*{
  margin: 0;
  padding: 0;
}
body{
  background-color: lightblue;
}


.wrapper{
  width: 100%;
}
.banner{
  display: none;
  height: 300px;
}

.img-info{
  width: 100%;
    margin-bottom: 20px;
}
.img-info h2 {
  width: 100%;
  padding: 30px 30px 20px;
  font-family: arial;
  font-size: 50px;
  color: #111;
  line-height: 44px;
}
.img-info p {
  padding: 0px 30px 20px;
  font-family: arial;
  font-size: 16px;
  color: #111;
  line-height: 24px;
}
.backround{
  width: 100%;
}

@media only screen and (min-width: 768px){
  .banner{
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }
  .wrapper{
    width: 600px;
    margin: 0 auto;
  }
  .img-info h2 {
    padding: 20px 0px 0px;
  
  }
  .img-info p {
    padding: 20px 0px 0px;
  }
  .backround{
    padding-top: 30px;
  }

}

@media only screen and (min-width: 1000px){
  .wrapper{
    width: 1000px;
  }
  .img-info{
    width: 50%;
    float: right;
  }
  .img-info h2 {
    padding: 20px 0px 0px 30px;
  
  }
  .img-info p {
    padding: 20px 0px 0px 30px;
  }
  .backround{
    padding-top: 0px;
    width: 50%;
    float: left;

  }

}


